body {
    margin: 0%;
    text-align: center;
    background-image: url("../image/background.jpg");
    background-repeat: repeat;
}
.plate {
    height: 150px;
}

.main-page {
    background-image: url("../image/backgroundpaper.jpg");
    box-shadow: 0px 0px 20px black;
    margin: 10px 100px 0 100px;
}

.my-photo {
    padding-top: 10px;
    width: 275px;
}

.bookmaker {
    margin-left: 80%;
    margin-right: 20%;
    width: 75px;
}

.bookmaker:hover {
    -webkit-filter: brightness(115%);
    filter: brightness(115%);
}

/*Contacté moi*/
.contact-me {
    position: fixed;
    margin-left: 35%;
	box-shadow: 3px 3px 8px 0px #000000;
	background:linear-gradient(to bottom, #f7d308 5%, #e89b1e 100%);
	background-color:#f7d308;
	border:1px solid #ffaa22;
	display:inline-block;
	cursor:pointer;
	padding:12px 38px;
	text-decoration:none;
	text-shadow:0px 1px 0px #fce63c;
}
.contact-me:hover {
	background:linear-gradient(to bottom, #e89b1e 5%, #f7d308 100%);
	background-color:#e89b1e;
}
.contact-me:active {
	position:relative;
	top:1px;
}

.contact-me p {
	color:#333333;
    font-family:Arial;
	font-size:16px;
    font-weight:bold;
    margin: 0%;
}
/*--------------------------------------------------*/

/*Titre*/
.title {
    padding-top: 25px;
}

.title-filetter {
    display: inline-block;
    font-family: medievaletter, sans-serif;
    font-size: 142px;
    margin: 0%;
}

h2 {
    display: inline-block;
    font-family: augusta, sans-serif;
    font-size: 42px;
    letter-spacing: 8px;
    color: #2b1400;
}
/*--------------------------------------------------*/

p {
    font-family: deigrat, sans-serif;
    font-size: 22px;
    color: #2b1400;
}

hr {
    border: solid  #2b1400 3px;
    border-bottom: none;
    width: 33%;
    margin: 0 auto;
    border-top-right-radius: 20% 50%;
    border-bottom-right-radius: 20% 50%;
    border-top-left-radius: 20% 50%;
    border-bottom-left-radius: 20% 50%;
}

.title-diplom {
    font-size: 20px;
}

.title-text {
    text-align: left;
    margin-left: 150px;
    font-size: 16px;
}


.text-deco {
    text-decoration: underline;
}

/*Section : Détails*/
.container-details{
    display: inline-block;
    margin: 0 auto;
    padding: 25px;
}

.container-details-text {
    text-align: left;
    line-height: 18px;
}

.container-details-text span {
    font-size: 16px;
}
/*--------------------------------------------------*/

/*Section : Présentation*/
.container-presentation {
    padding-bottom: 25px;
}

.container-presentation-text {
    max-width : 53%;
    margin: 0 auto;
}
/*--------------------------------------------------*/

/*Section : Formation*/
.container-formation {
    padding-bottom: 25px;
    padding-right: 15px;
}

.container-formation-title {
    text-align: left;
    padding-left: 20px;
}
/*--------------------------------------------------*/

/*Expérience professionnelle*/
.containre-experience {
    padding-top: 25px;
    padding-bottom: 25px;
}

/*Compétences*/
.skill {
    padding-top: 25px;
    padding-bottom: 50px;
    margin-bottom: 25px;
}

.skill h2 {
    margin: 0;
}

.html img {
    width: 50px;
    position: relative;
    display: inline-block;
    right: 310px;
    top: 60px;
}

.container-progressbar-html {
    width: 40%;
    margin: 0 auto;
    background-color: rgba(221, 221, 221, 0.75);
    border-radius: 7px;
}

.progressbar-html {
    text-align: right;
    padding-top: 3px;
    padding-bottom: 3px;
    color: white;
    width: 50%; background-color: #e54d26;
    border-radius: 7px 0 0 7px;
    margin: 0;
}

.css img {
    width: 50px;
    position: relative;
    display: inline-block;
    right: 310px;
    top: 60px;
}

.container-progressbar-css {
    width: 40%;
    margin: 0 auto;
    background-color: rgba(221, 221, 221, 0.75);
    border-radius: 7px;
}

.progressbar-css {
    text-align: right;
    padding-top: 3px;
    padding-bottom: 3px;
    color: white;
    width: 40%; background-color: #006eba;
    border-radius: 7px 0 0 7px;
    margin: 0;
}

.js img {
    width: 50px;
    position: relative;
    display: inline-block;
    right: 310px;
    top: 60px;
}

.container-progressbar-js {
    width: 40%;
    margin: 0 auto;
    background-color: rgba(221, 221, 221, 0.75);
    border-radius: 7px;
}

.progressbar-js {
    text-align: right;
    padding-top: 3px;
    padding-bottom: 3px;
    color: white;
    width: 10%; background-color: #d4b42c;
    border-radius: 7px 0 0 7px;
    margin: 0;
}

.python img {
    width: 50px;
    position: relative;
    display: inline-block;
    right: 310px;
    top: 60px;
}

.container-progressbar-python {
    width: 40%;
    margin: 0 auto;
    background-color: rgba(221, 221, 221, 0.75);
    border-radius: 7px;
}

.progressbar-python {
    text-align: right;
    padding-top: 3px;
    padding-bottom: 3px;
    color: white;
    width: 15%; background-color: #3775a7;
    border-radius: 7px 0 0 7px;
    margin: 0;
}
/*--------------------------------------------------*/

footer p {
    margin: 0%;
    padding-bottom: 15px;
    font-family: 'arial', sans-serif;
    font-size: 10px;
    color: gold;
    text-shadow: 2px 2px 1px #0000008a;
}

/*Fonts*/
@font-face {
    font-family: "medievaletter";
    src: url("../fonts/medievalalphabet.regular.ttf") format("truetype");
}

@font-face {
    font-family: "augusta";
    src: url("../fonts/Augusta.ttf") format("truetype");
}

@font-face {
    font-family: "deigrat";
    src: url("../fonts/DeiGrat.ttf") format("truetype");
}